@charset "UTF-8";
div#basic_information_wrapper {
  width: 100%;
  height: 72rem;
  position: relative;
  left: 0;
  top: 0;
}
div#basic_information_wrapper svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
div#basic_information_wrapper .infos_wrapper {
  max-width: 1200px;
  height: 33rem;
  margin: 0 auto;
  height: auto;
  display: flex;
  align-content: center;
  position: relative;
  left: 0;
  top: 24rem;
  z-index: 1;
}
div#basic_information_wrapper .infos_wrapper div.info {
  width: 70%;
  height: 33rem;
  padding: 3rem;
  position: absolute;
  left: 0;
  top: 0;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 4rem;
  padding-top: 2rem;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li {
  transition: all 1s ease-out;
  position: relative;
  left: 0;
  top: 0;
  width: calc(50% - 4rem);
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li:hover p.title::before {
  transform: scale(1.2);
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title {
  color: white;
  font: normal 1.5rem "Noto sans KR";
  position: relative;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title::before {
  content: "";
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: #FF9900;
  position: absolute;
  left: -1.2rem;
  top: -0.3rem;
  z-index: -1;
  transition: all 0.2s ease-out;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text {
  color: white;
  font: normal 1.2rem/1.9rem "Noto sans KR";
  margin-top: 1rem;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text span {
  transition: all 0.1s ease-out;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text span:hover {
  cursor: pointer;
  color: aqua;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p#alertCopy {
  color: rgb(255, 255, 255);
  font: 100 0.8rem "Noto sans KR";
  margin-top: 1rem;
  transition: all 0.2s ease-out;
}
div#basic_information_wrapper .infos_wrapper div.my_pic {
  width: 30vw;
  height: 44.22vw;
  max-width: 24.375rem;
  max-height: 35.9375rem;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-content: center;
  overflow: hidden;
  transition: all 1s ease-out;
}
div#basic_information_wrapper .infos_wrapper div.my_pic img {
  width: 30vw;
  height: 44.22vw;
  max-width: 24.375rem;
  max-height: 35.9375rem;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  right: 0;
  top: 0;
}
div#basic_information_wrapper .infos_wrapper div.my_pic .img_blue_cover {
  width: calc(100% - 4vw);
  height: 40.22vw;
  max-width: 21.875rem;
  max-height: 32.75rem;
  background: #003CFF;
  mix-blend-mode: lighten;
  position: absolute;
  left: 2vw;
  top: 2vw;
  z-index: 3;
  transition: all 1s linear;
}
@media (min-width: 1400px) {
  div#basic_information_wrapper .infos_wrapper div.my_pic .img_blue_cover {
    width: calc(24.375rem - 60px);
    height: calc(35.9375rem - 60px);
    max-height: 32.75rem;
    left: 30px;
    top: 30px;
  }
}
div#basic_information_wrapper .infos_wrapper div.my_pic .bi_bg_circle_yellow {
  width: 49rem;
  height: 49rem;
  border-radius: 50%;
  background: rgba(255, 153, 0, 0.2);
  background: linear-gradient(to bottom, rgba(255, 153, 0, 0.5) 0%, rgba(255, 153, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#00ff9900",GradientType=0 );
  position: absolute;
  left: 5rem;
  top: -9rem;
  z-index: -1;
}
div#basic_information_wrapper .bi_bg_line_blue {
  position: relative;
  left: 0;
  top: -5rem;
}
div#basic_information_wrapper .bi_bg_text_yellow {
  width: 100%;
  height: auto;
  position: relative;
  top: 15rem;
  text-align: center;
}
div#basic_information_wrapper .bi_bg_text_yellow p {
  color: rgba(255, 153, 0, 0.2);
  font: normal 9.375rem "Dela Gothic One";
}

span.heart {
  position: absolute;
  pointer-events: none;
  filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.5));
  animation: fadeInOut 1s linear infinite;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}
span.heart::before {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "♥";
  color: red;
  background-size: cover;
  animation: moveShape 1s linear infinite;
}

@keyframes moveShape {
  0% {
    transform: translate(0) rotate(0deg);
  }
  100% {
    transform: translate(300px) rotate(0deg);
  }
}
@media screen and (max-width: 1200px) {
  div#basic_information_wrapper {
    height: 82rem;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic {
    top: 30px;
    right: 30px;
  }
}
@media screen and (max-width: 1000px) {
  div#basic_information_wrapper {
    height: 82rem;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic {
    top: 70px;
  }
}
@media screen and (max-width: 768px) {
  div#basic_information_wrapper {
    width: 100%;
    height: 92rem;
    position: relative;
    left: 0;
    top: 0;
  }
  div#basic_information_wrapper svg {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  div#basic_information_wrapper .infos_wrapper {
    max-width: 1200px;
    height: 33rem;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-content: center;
    position: relative;
    left: 0;
    top: 28rem;
    z-index: 1;
  }
  div#basic_information_wrapper .infos_wrapper div.info {
    width: calc(60% - 30px);
    height: 33rem;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 4rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 0rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li {
    width: 47%;
    margin-bottom: 6rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li:hover p.title::before {
    transform: scale(1.2);
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title {
    color: white;
    font: normal 1.5rem "Noto sans KR";
    position: relative;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title::before {
    content: "";
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #FF9900;
    position: absolute;
    left: -1.2rem;
    top: -0.3rem;
    z-index: -1;
    transition: all 0.2s ease-out;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text {
    color: white;
    font: normal 1.2rem "Noto sans KR";
    margin-top: 1rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text span {
    transition: all 0.1s ease-out;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text span:hover {
    cursor: pointer;
    color: aqua;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p#alertCopy {
    color: rgb(255, 255, 255);
    font: 100 0.8rem "Noto sans KR";
    margin-top: 1rem;
    transition: all 0.2s ease-out;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic {
    width: 45vw;
    height: 66.33vw;
    position: absolute;
    right: 20px;
    top: 70px;
    display: flex;
    align-content: center;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic img {
    width: 45vw;
    height: 66.33vw;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic .img_blue_cover {
    width: calc(45vw - 40px);
    height: calc(66.33vw - 40px);
    background: #003CFF;
    mix-blend-mode: lighten;
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic .bi_bg_circle_yellow {
    width: 49rem;
    height: 49rem;
    border-radius: 50%;
    background: rgba(255, 153, 0, 0.2);
    background: linear-gradient(to bottom, rgba(255, 153, 0, 0.5) 0%, rgba(255, 153, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#00ff9900",GradientType=0 );
    position: absolute;
    left: 5rem;
    top: -9rem;
    z-index: -1;
  }
  div#basic_information_wrapper .bi_bg_line_blue {
    position: relative;
    left: 0;
    top: -5rem;
  }
  div#basic_information_wrapper .bi_bg_text_yellow {
    width: 100%;
    height: auto;
    position: relative;
    top: 15rem;
    text-align: center;
  }
  div#basic_information_wrapper .bi_bg_text_yellow p {
    color: rgba(255, 153, 0, 0.2);
    font: normal 9.375rem "Dela Gothic One";
  }
}
@media screen and (max-width: 425px) {
  div#basic_information_wrapper {
    width: 100%;
    height: 110rem;
    position: relative;
    left: 0;
    top: 0;
  }
  div#basic_information_wrapper svg {
    width: 7000px;
    position: absolute;
    left: -4000px;
    top: 0;
    z-index: -1;
  }
  div#basic_information_wrapper .infos_wrapper {
    width: 100%;
    height: 33rem;
    margin: 0 auto;
    height: auto;
    display: flex;
    align-content: center;
    position: relative;
    left: 0;
    top: 28rem;
    z-index: 1;
  }
  div#basic_information_wrapper .infos_wrapper div.info {
    width: 100%;
    margin: 0 auto;
    height: 33rem;
    padding: 0px;
    position: absolute;
    left: 0rem;
    top: 27rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list {
    padding: 30;
    width: calc(100% - 30px);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 0rem;
    margin-left: 50px;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li {
    width: 50%;
    margin-bottom: 6rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li:hover p.title::before {
    transform: scale(1.2);
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title {
    color: white;
    font: normal 1.5rem "Noto sans KR";
    position: relative;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title::before {
    content: "";
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: #FF9900;
    position: absolute;
    left: -1.2rem;
    top: -0.3rem;
    z-index: -1;
    transition: all 0.2s ease-out;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text {
    color: white;
    font: normal 1.2rem "Noto sans KR";
    margin-top: 1rem;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text span {
    transition: all 0.1s ease-out;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text span:hover {
    cursor: pointer;
    color: aqua;
  }
  div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p#alertCopy {
    color: rgb(255, 255, 255);
    font: 100 0.8rem "Noto sans KR";
    margin-top: 1rem;
    transition: all 0.2s ease-out;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic {
    width: 90vw;
    margin: 0 auto;
    height: 132.66vw;
    position: absolute;
    left: 5vw;
    top: -13rem;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic img {
    width: 90vw;
    margin: 0 auto;
    height: 132.66vw;
    -o-object-fit: contain;
       object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic .img_blue_cover {
    width: calc(85vw - 30px);
    height: calc(132.66vw - 40px);
    background: #003CFF;
    mix-blend-mode: lighten;
    position: absolute;
    left: 15px;
    top: 20px;
    z-index: 3;
  }
  div#basic_information_wrapper .infos_wrapper div.my_pic .bi_bg_circle_yellow {
    width: 49rem;
    height: 49rem;
    border-radius: 50%;
    background: rgba(255, 153, 0, 0.2);
    background: linear-gradient(to bottom, rgba(255, 153, 0, 0.5) 0%, rgba(255, 153, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#00ff9900",GradientType=0 );
    position: absolute;
    left: 5rem;
    top: 45rem;
    z-index: -1;
  }
  div#basic_information_wrapper .bi_bg_line_blue {
    position: relative;
    left: 0;
    top: -5rem;
  }
  div#basic_information_wrapper .bi_bg_text_yellow {
    width: 100%;
    height: auto;
    position: relative;
    top: 10rem;
    text-align: center;
  }
  div#basic_information_wrapper .bi_bg_text_yellow p {
    color: rgba(255, 153, 0, 0.2);
    font: normal 20vw/25vw "Dela Gothic One";
  }
}