header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 1rem;
  z-index: 100;
}
header div#header_inner {
  width: 39rem;
  height: 2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
header div#header_inner a {
  cursor: pointer;
  width: 5rem;
  height: 2rem;
  float: left;
}
header div#header_inner a div#logo p {
  color: #003CFF;
  font: normal 1.5rem/1.9rem "faster one";
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
header div#header_inner div.menu {
  position: relative;
  left: 0;
  top: 0;
  float: left;
}
header div#header_inner div.menu ul.menu_list {
  width: 30rem;
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
}
header div#header_inner div.menu ul.menu_list li {
  font: normal 1rem "Dela Gothic One";
  cursor: pointer;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  transition: all 0.2s ease-out;
}
header div#header_inner div.menu ul.menu_list li img {
  display: none;
  position: absolute;
  right: 2.5rem;
  top: 0.1rem;
  z-index: -1;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  header div#header_inner div.menu ul.menu_list li img {
    width: 130%;
    height: 100%;
    top: 0.1rem;
  }
}
header div#header_inner div.menu ul.menu_list li.selected {
  color: white;
  text-shadow: none;
}
header div#header_inner div.menu ul.menu_list li.selected img {
  display: block;
  right: -0.5rem;
}

@media screen and (max-width: 768px) {
  header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 1rem;
    z-index: 100;
  }
  header div#header_inner {
    width: 100%;
    height: 2rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  header div#header_inner a {
    width: 5rem;
    height: 2rem;
    float: left;
  }
  header div#header_inner a div#logo p {
    font: normal 1.5rem/2rem "faster one";
    color: #003CFF;
  }
  header div#header_inner div.menu {
    width: calc(100% - 10rem);
    position: relative;
    left: -3rem;
    top: 0;
    float: left;
  }
  header div#header_inner div.menu ul.menu_list {
    width: 100%;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    z-index: 1;
  }
  header div#header_inner div.menu ul.menu_list li {
    font: normal 1rem "Dela Gothic One";
    cursor: pointer;
  }
  header div#header_inner div.menu ul.menu_list li.selected {
    color: white;
  }
}