div#projects_wrapper, div.project_orange_stage_wrapper div.project_orange_stage_inner, div.project_infos {
  position: relative;
  left: 0;
  top: 0;
}

div.project_orange_stage_wrapper {
  position: absolute;
  left: 0;
  top: 0;
}

div.projects_list_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}

div#projects_wrapper .title_wrap {
  width: auto;
  height: auto;
}
div#projects_wrapper .title_wrap p.subtitle {
  font: normal 3rem "Dela Gothic One";
}
div#projects_wrapper .title_wrap svg {
  padding-top: 0.3rem;
}

div#projects_wrapper {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
}
div#projects_wrapper .title_wrap {
  text-align: left;
}
div#projects_wrapper .title_wrap #projects {
  color: white;
}

div.project_orange_stage_wrapper {
  width: 100%;
  height: 46.2rem;
}
div.project_orange_stage_wrapper div.project_orange_stage_inner {
  width: 100%;
  max-width: 1200px;
  height: 46.2rem;
  padding-top: 14rem;
  margin: 0 auto;
  box-sizing: border-box;
}
@media screen and (max-width: 1260px) {
  div.project_orange_stage_wrapper div.project_orange_stage_inner {
    padding: 12rem 30px 0 30px;
  }
}
@media screen and (max-width: 768px) {
  div.project_orange_stage_wrapper div.project_orange_stage_inner {
    padding: 8rem 30px 0 30px;
  }
}

div.project_view_wrapper {
  width: 100%;
  height: auto;
  margin-top: 3rem;
}
@media screen and (max-width: 768px) {
  div.project_view_wrapper {
    margin-top: 4rem;
  }
}
div.project_view_wrapper .project_view {
  width: 100%;
  height: 19rem;
}
div.project_view_wrapper .project_view :hover .project_main_pic > img {
  filter: blur(1px);
}
div.project_view_wrapper .project_view > div {
  width: 100%;
  height: 19rem;
}

div.project_main_pic {
  width: 31rem;
  height: 19rem;
  border-radius: 20px;
  background: white;
  float: left;
  position: relative;
  left: 0;
  top: 0;
}
@media screen and (max-width: 768px) {
  div.project_main_pic {
    width: 100%;
    height: auto;
  }
}
div.project_main_pic:hover > img {
  filter: blur(1px);
}
div.project_main_pic:hover .mouseover > img {
  opacity: 1;
  cursor: pointer;
}
div.project_main_pic > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: relative;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: all 0.4s ease-out;
}
div.project_main_pic .mouseover > img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

div.project_infos {
  width: calc(100% - 34rem);
  height: 17rem;
  margin-left: 3rem;
  margin-top: 1rem;
  float: left;
}
@media screen and (max-width: 768px) {
  div.project_infos {
    width: 100%;
    height: 21rem;
    margin-left: 0;
    margin-top: 2rem;
  }
}
div.project_infos .p_name {
  color: white;
  font: bold 1.875rem "Noto sans KR";
}
div.project_infos .p_bodytext {
  color: white;
  font: bold 1rem "Noto sans KR";
  margin-top: 1.3rem;
  text-align: justify;
}
div.project_infos div.projects_skill ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  margin-top: 1rem;
}
div.project_infos div.projects_skill ul li {
  width: auto;
  height: auto;
  padding: 2px 14px;
  margin-bottom: 0.5rem;
  background: rgba(255, 255, 255, 0.1);
  border: solid 1px rgb(255, 255, 255);
  border-radius: 2rem;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  font: normal 1rem "Noto sans KR";
  transition: all 0.1s ease-out;
  margin-right: 0.7rem;
}
div.project_infos div.projects_skill ul li:last-child {
  margin-right: 0rem;
}
div.project_infos div.projects_skill ul li:hover {
  background: rgba(255, 255, 255, 0.3);
}
div.project_infos div.project_links {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
div.project_infos div.project_links ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
}
@media screen and (max-width: 768px) {
  div.project_infos div.project_links ul {
    justify-content: center;
  }
}
div.project_infos div.project_links ul li {
  width: auto;
  height: 2.5rem;
  padding: 0 2rem;
  margin: 0 auto;
  background: white;
  text-align: center;
  color: black;
  font: normal 1.2rem/2.5rem "Noto sans KR";
  transition: all 0.2s ease-out;
  border-radius: 1rem;
}
div.project_infos div.project_links ul li i {
  padding-right: 6px;
}
div.project_infos div.project_links ul a:first-child {
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  div.project_infos div.project_links ul a:first-child {
    margin-right: 1rem;
  }
}
div.project_infos div.project_links ul a:hover li {
  background: #003CFF;
  cursor: pointer;
  transform: scale(1.05);
  color: white;
}

div.projects_list_wrapper div.projects_list_container {
  width: 100%;
  height: auto;
  overflow: hidden;
}

ul.project_list {
  width: 162rem;
  height: 30rem;
  margin-top: 4.5rem;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
}
@media screen and (max-width: 768px) {
  ul.project_list {
    margin-left: calc(50vw - 12.5rem);
  }
}
ul.project_list li {
  width: 25rem;
  height: 15.45rem;
  border-radius: 25px;
  box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2);
  margin-right: 2rem;
  filter: brightness(0.5) grayscale(0.9);
  opacity: 0.8;
  cursor: pointer;
  transition: all 0.4s ease-out;
}
ul.project_list li:hover {
  box-shadow: 4px 4px 16px 7px rgba(0, 0, 0, 0.3);
}
ul.project_list li.selected {
  box-shadow: 0 0 0 5px #FF9900 inset;
  filter: brightness(1) grayscale(0);
  opacity: 1;
}
ul.project_list li:nth-child(1) {
  background: url("/images/project_list_01.png") center center no-repeat;
  background-size: contain;
}
ul.project_list li:nth-child(2) {
  background: url("/images/project_list_02.png") center center no-repeat;
  background-size: contain;
}
ul.project_list li:nth-child(3) {
  background: url("/images/project_list_03.png") center center no-repeat;
  background-size: contain;
}
ul.project_list li:nth-child(4) {
  background: url("/images/project_list_04.png") center center no-repeat;
  background-size: contain;
}
ul.project_list li:nth-child(5) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background: #dadada;
  background-size: contain;
}
ul.project_list li:nth-child(6) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  background: #dadada;
  background-size: contain;
}

div.list_navigation {
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 56rem;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  div.list_navigation {
    top: 71.5rem;
  }
}
div.list_navigation .button-prev {
  height: 5rem;
  position: absolute;
  left: 30px;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  div.list_navigation .button-prev {
    left: 10px;
  }
}
div.list_navigation .button-next {
  height: 5rem;
  position: absolute;
  right: 40px;
  top: 0;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  div.list_navigation .button-next {
    right: 10px;
  }
}
div.list_navigation i {
  font-size: 5rem;
  color: #FF9900;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

div.pj_bg_text {
  font: 500 20rem "Orbitron";
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 12rem;
  z-index: 1;
}
div.pj_bg_text #pbt_3 {
  color: #003CFF;
}
div.pj_bg_text #pbt_2 {
  color: #FF9900;
}
div.pj_bg_text #pbt_1 {
  color: whitesmoke;
}

#gray_layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}

#over_layer {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}

#detail_content_wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button#ol_close_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
}
@media screen and (max-width: 486px) {
  button#ol_close_btn {
    right: -10px;
    top: -40px;
  }
}
button#ol_close_btn i {
  font-size: 20px;
  color: #003CFF;
}
@media screen and (max-width: 486px) {
  button#ol_close_btn i {
    color: rgb(255, 255, 255);
  }
}

.detail-slider__button {
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  padding: 15px 35px;
  background: linear-gradient(147deg, #f90 0%, #003cff 66%);
  background-position: 0% 0%;
  background-size: 200% 100%;
  box-shadow: 0px 14px 50px rgba(0, 65, 255, 0.4);
  color: #fff;
  font: 500 1rem "Noto sans KR";
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
}
.detail-slider__button:hover {
  background-position: 100% 100%;
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .detail-slider__button {
    width: 100%;
    position: absolute;
    bottom: -5rem;
  }
}

#detail_content {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.detail_axios_wrapper {
  width: auto;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
  border: solid 2px palevioletred;
  box-sizing: border-box;
}

.detail-slider {
  width: 95%;
  position: relative;
  left: 0;
  top: 0;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 600px;
  transition: all 0.3s;
}
@media screen and (max-width: 992px) {
  .detail-slider {
    width: 70%;
    height: 80%;
  }
}
@media screen and (max-width: 768px) {
  .detail-slider {
    min-height: 500px;
    height: auto;
    top: 2rem;
    text-align: center;
    width: 78%;
  }
}
@media screen and (max-width: 576px) {
  .detail-slider {
    top: 0.5rem;
    min-height: 390px;
    height: 390px;
  }
}
.detail-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .detail-slider__item {
    flex-direction: column;
  }
}
.detail-slider__item.swiper-slide-active .detail-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > * {
  opacity: 1;
  transform: none;
  font-family: "Noto sans KR";
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.detail-slider__item.swiper-slide-active .detail-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.detail-slider__img {
  width: 70%;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #f90 0%, #003cff 74%);
  box-shadow: 4px 13px 20px 1px rgba(56, 82, 252, 0.2);
  border-radius: 20px;
  transform: translateX(0px);
  overflow: hidden;
}
@media screen and (max-width: 486px) {
  .detail-slider__img {
    height: 250px;
  }
}
.detail-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(147deg, rgba(255, 153, 0, 0.1) 0%, rgba(0, 60, 255, 0.1) 4%);
  border-radius: 20px;
  opacity: 0.8;
}
.detail-slider__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}
@media screen and (max-width: 768px) {
  .detail-slider__img {
    transform: translateY(-40%);
    width: 90%;
    margin-left: 5%;
  }
}
@media screen and (max-width: 576px) {
  .detail-slider__img {
    width: 95%;
    margin-left: 2.5%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .detail-slider__img {
    height: 270px;
  }
}
@media screen and (max-width: 486px) {
  .detail-slider__img {
    margin-top: 30px;
  }
}
.detail-slider__content {
  padding-right: 25px;
  border: solid 2px palevioletred;
  box-sizing: border-box;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .detail-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .detail-slider__content {
    padding: 0 0px;
  }
}
.detail-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}
.detail-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.detail-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
}
.detail-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
}
.detail-slider .swiper-container-horizontal > .swiper-pagination-bullets, .detail-slider .swiper-pagination-custom, .detail-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.detail-slider__pagination {
  position: absolute;
  left: auto !important;
  right: 20px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 11px !important;
  z-index: 21;
}
@media screen and (max-width: 768px) {
  .detail-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.detail-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 4px 0 !important;
}
@media screen and (max-width: 768px) {
  .detail-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 3px !important;
  }
}
.detail-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all 0.3s;
}
.detail-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #003CFF;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(56, 69, 252, 0.3);
}
@media screen and (max-width: 768px) {
  .detail-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}