div#skills_and_stacks_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}

div#skills_and_stacks_wrapper .title_wrap {
  width: auto;
  height: auto;
}
div#skills_and_stacks_wrapper .title_wrap p.subtitle {
  font: normal 3rem "Dela Gothic One";
}
div#skills_and_stacks_wrapper .title_wrap svg {
  padding-top: 0.3rem;
}

div#skills_and_stacks_wrapper .title_wrap {
  text-align: right;
}
div#skills_and_stacks_wrapper .title_wrap #skill {
  color: black;
}

p.skill_category {
  color: black;
  font: bold 1.5rem "Noto sans KR";
  margin-bottom: 1rem;
}

div.front_end_skills_wrap {
  text-align: right;
  width: 100%;
  height: 50rem;
  position: relative;
  right: 0;
  top: 0;
}
div.front_end_skills_wrap p.skill_category {
  padding: 5rem 3.5rem 0 0;
  position: relative;
}
div.front_end_skills_wrap svg {
  position: relative;
  right: 1.5rem;
  top: -2.4rem;
}
div.front_end_skills_wrap ul.front_end_skill_list {
  max-width: 55rem;
  height: 40rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  gap: 3rem;
  position: absolute;
  right: 0;
  bottom: 0;
}
div.front_end_skills_wrap ul.front_end_skill_list li {
  width: 15rem;
  height: 15rem;
  border-radius: 1.75rem;
  background: linear-gradient(138deg, #003CFF 20%, #013DFE 62%, #F90 96.37%);
  background-position: 0% 0%;
  background-size: 150% 150%;
  box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  transition: all 0.5s ease;
}
div.front_end_skills_wrap ul.front_end_skill_list li:hover {
  box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.35);
  background-position: 100% 100%;
}
div.front_end_skills_wrap ul.front_end_skill_list li:touch-action {
  box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.25);
  background-position: 100% 100%;
}
div.front_end_skills_wrap ul.front_end_skill_list li p {
  color: white;
  font: normal 2.1rem "Noto sans KR";
  text-align: left;
  cursor: default;
}
div.front_end_skills_wrap ul.front_end_skill_list li:nth-child(4) p {
  font-size: 1.8rem;
}

div.etc_skills_wrap {
  max-width: 55rem;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}
div.etc_skills_wrap ul.etc_skill_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 10rem;
}
div.etc_skills_wrap ul.etc_skill_list li p.skill_name {
  color: black;
  font: normal 1.1rem/2rem "Noto sans KR";
}

@media screen and (max-width: 768px) {
  div#skills_and_stacks_wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
  div#skills_and_stacks_wrapper .title_wrap {
    width: auto;
    height: auto;
    text-align: right;
  }
  div#skills_and_stacks_wrapper .title_wrap p.subtitle {
    font: normal 3rem "Dela Gothic One";
  }
  div#skills_and_stacks_wrapper .title_wrap svg {
    margin-left: 3rem;
    padding-top: 0.3rem;
  }
  div#skills_and_stacks_wrapper .title_wrap #skill {
    color: black;
  }
  p.skill_category {
    color: black;
    font: bold 1.5rem "Noto sans KR";
    margin-bottom: 1rem;
  }
  div.front_end_skills_wrap {
    text-align: right;
    width: 100%;
    height: 45rem;
    position: relative;
    right: 0;
    top: 0;
  }
  div.front_end_skills_wrap p.skill_category {
    padding: 5rem 3.5rem 0 0;
    position: relative;
  }
  div.front_end_skills_wrap svg {
    position: relative;
    right: 1.5rem;
    top: -2.4rem;
  }
  div.front_end_skills_wrap ul.front_end_skill_list {
    max-width: 55rem;
    width: 100vw;
    height: 33rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    gap: 0rem;
    position: absolute;
    right: 0;
    top: 10rem;
  }
  div.front_end_skills_wrap ul.front_end_skill_list li {
    max-width: 15rem;
    width: 30vw;
    max-height: 15rem;
    height: 30vw;
    margin-bottom: 1rem;
    border-radius: 1.75rem;
    background: linear-gradient(138deg, #003CFF 20%, #013DFE 62%, #F90 96.37%);
    background-position: 0% 0%;
    background-size: 150% 150%;
    box-shadow: 1px 1px px 3px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    transition: all 0.5s ease;
  }
  div.front_end_skills_wrap ul.front_end_skill_list li:hover {
    box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.35);
    background-position: 100% 100%;
  }
  div.front_end_skills_wrap ul.front_end_skill_list li:touch-action {
    box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.25);
    background-position: 100% 100%;
  }
  div.front_end_skills_wrap ul.front_end_skill_list li p {
    color: white;
    font: normal 5vw "Noto sans KR";
    text-align: left;
    cursor: default;
  }
  div.front_end_skills_wrap ul.front_end_skill_list li:nth-child(4) p {
    font-size: 4vw;
  }
  div.etc_skills_wrap {
    max-width: 55rem;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
  }
  div.etc_skills_wrap ul.etc_skill_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 10rem;
  }
  div.etc_skills_wrap ul.etc_skill_list li p.skill_name {
    color: black;
    font: normal 1.1rem/2rem "Noto sans KR";
  }
}