a {
  color: black;
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
}

body {
  width: 100%;
  height: auto;
}

div#wrapper {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}

header div#header_inner div#logo p {
  font: normal 1.5rem "Permanent Marker";
  color: #003CFF;
}
header div.menu ul.menu_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
header div.menu ul.menu_list li {
  font: normal 1rem "Dela Gothic One";
}

section {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}

div#main_wrapper {
  position: relative;
  left: 0;
  top: 0;
}
div#main_wrapper .title {
  width: 100%;
  height: auto;
  text-align: center;
  border: solid 2px palevioletred;
  box-sizing: border-box;
}
div#main_wrapper .title p {
  font: normal 12.5rem "Permanent Marker";
  line-height: 13.5625rem;
  letter-spacing: 1.0625rem;
  color: #003CFF;
}

div#motto_wrapper {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}
div#motto_wrapper div.motto_text {
  width: 47rem;
  margin: o auto;
  height: auto;
  text-align: center;
  border: solid 2px palevioletred;
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
}
div#motto_wrapper div.motto_text p.mt_title {
  font: normal 6.25rem "Dela Gothic One";
}
div#motto_wrapper div.motto_text p.mt_text {
  text-align: justify;
  font: 500 1.125rem "Noto sans KR";
}
div#motto_wrapper div.mt_bg_text {
  width: 2000px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}
div#motto_wrapper div.mt_bg_text p {
  -webkit-text-stroke: 1px #FF9900;
  color: transparent;
  font: normal 18.75rem "Dela Gothic One";
}
div#motto_wrapper div.mt_bg_circle_left {
  width: 49rem;
  height: 49rem;
  background: rgba(0, 60, 255, 0.1);
  background: linear-gradient(to bottom, rgb(0, 60, 255) 0%, rgba(0, 60, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#003cff", endColorstr="#00003cff",GradientType=0 );
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 24.5rem auto;
}
div#motto_wrapper div.mt_bg_circle_left .l_hole {
  width: 35rem;
  height: 35rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 7rem;
  top: 7rem;
}
div#motto_wrapper div.mt_bg_circle_right {
  width: 29rem;
  height: 29rem;
  background: rgba(255, 153, 0, 0.2); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(255, 153, 0) 0%, rgba(255, 153, 0, 0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#ff9900", endColorstr="#00ff9900",GradientType=0 ); /* IE6-9 */
  border-radius: 50%;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  margin: 14.5rem auto;
}
div#motto_wrapper div.mt_bg_circle_right .r_hole {
  width: 18rem;
  height: 18rem;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  left: 5.5rem;
  top: 5.5rem;
}

div#basic_information_wrapper {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}
div#basic_information_wrapper svg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
div#basic_information_wrapper .infos_wrapper {
  width: 1200px;
  margin: 0 auto;
  height: auto;
  border: solid 2px rgb(112, 174, 216);
  box-sizing: border-box;
  position: relative;
  left: 0;
  top: 22rem;
}
div#basic_information_wrapper .infos_wrapper div.info {
  width: 70%;
  height: 33rem;
  border: solid 2px palevioletred;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 4rem;
  padding-top: 2rem;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li {
  width: calc(50% - 4rem);
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title {
  color: white;
  font: normal 1.875rem "Noto sans KR";
  position: relative;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.title::before {
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #FF9900;
  position: absolute;
  left: -1.3rem;
  top: -0.2rem;
  z-index: -1;
}
div#basic_information_wrapper .infos_wrapper div.info ul.info_list li p.text {
  color: white;
  font: normal 1.5rem "Noto sans KR";
  margin-top: 1rem;
}
div#basic_information_wrapper .infos_wrapper div.my_pic {
  width: 30%;
  height: 33rem;
  background: url("/images/jihyun_picture.png") no-repeat top;
  background-size: contain;
  border: solid 2px palevioletred;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
}