a {
  color: black;
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
}

body {
  width: 100%;
  height: auto;
}

div#wrapper {
  width: 100%;
  max-width: 1920px;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}

header div#header_inner div#logo p {
  font: normal 1.5rem "Permanent Marker";
  color: #003CFF;
}
header div.menu ul.menu_list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
header div.menu ul.menu_list li {
  font: normal 1rem "Dela Gothic One";
}

section {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}