@use 'common';

div#projects_wrapper {
  max-width: 100%;
  margin: 0 auto;
  height: auto;
  @extend %positionRelative;
  @extend %basicTitleWrapStyle;
  .title_wrap {
    text-align: left;
    #projects {
      color: white;
    }
  }
}

div.project_orange_stage_wrapper {
  width: 100%;
  height: 46.2rem;  
  @extend %positionAbsolute;
  div.project_orange_stage_inner {
    width: 100%;
    max-width: 1200px;
    height: 46.2rem;
    padding-top: 14rem;
    margin: 0 auto;
    @extend %positionRelative;
    @media screen and (max-width: 1260px) {
      padding: 12rem 30px 0 30px;
    }
    @media screen and (max-width: 768px) {
      padding: 8rem 30px 0 30px;
    }
    
    box-sizing: border-box;
  }
}

div.project_view_wrapper {
  width: 100%;
  height: auto;
  margin-top: 3rem;
  @media screen and (max-width: 768px) {
    margin-top: 4rem;
  }
  .project_view {
    width: 100%;
    height: 19rem;
    :hover .project_main_pic > img {
      filter: blur(1px);
    }
    & > div {
      width: 100%;
      height: 19rem;
    }
  }
  
}

div.project_main_pic {
  width: 31rem;
  height: 19rem;
  border-radius: 20px;
  background: white;
  float: left;
  position: relative;
  left: 0;
  top: 0;
  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }
  &:hover > img {
    filter: blur(1px);
  }
  &:hover .mouseover > img {
    opacity: 1;
    cursor: pointer;
  }
  & > img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
    left: 0;
    top: 0;
    object-fit: cover;
    display: block;
    transition: all 0.4s ease-out;
  }
  .mouseover > img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    // transition: all 0.3s ease-out;
  }
}

div.project_infos {
  width: calc(100% - 34rem);
  height: 17rem;
  margin-left: 3rem;
  margin-top: 1rem;
  float: left;
  @extend %positionRelative;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 21rem;
    margin-left: 0;
    margin-top: 2rem;
  }
  
  .p_name {
    color: white;
    font: bold 1.875rem "Noto sans KR";
  }
  .p_bodytext {
    color: white;
    font: bold 1rem "Noto sans KR";
    margin-top: 1.3rem;
    text-align: justify;
  }
  div.projects_skill {
    ul {
      width: 100%;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
      margin-top: 1rem;
      li {
        width: auto;
        height: auto;
        padding: 2px 14px;
        margin-bottom: 0.5rem;
        background: rgba(255, 255, 255, 0.1);
        border: solid 1px rgb(255, 255, 255);
        border-radius: 2rem;
        box-sizing: border-box;
        color: rgb(255, 255, 255);
        font: normal 1rem "Noto sans KR";
        transition: all 0.1s ease-out;
        margin-right: 0.7rem;
        &:last-child {
          margin-right: 0rem;
        }
        &:hover {
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }
  }
  div.project_links {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      @media screen and (max-width: 768px) {
        justify-content: center;
      }
      li {
        width: auto;
        height: 2.5rem;
        padding: 0 2rem;
        margin: 0 auto;
        background: white;
        text-align: center;
        color: black;
        font: normal 1.2rem/2.5rem "Noto sans KR";
        transition: all 0.2s ease-out;
        border-radius: 1rem;
        i {
          padding-right: 6px;
        }
      }
      a:first-child {
        margin-right: 2rem;
        @media screen and (max-width: 768px) {
          margin-right: 1rem; 
        }
      }
      a:hover li {
        background: #003CFF;
        cursor: pointer;
        transform: scale(1.05);
        color: white;
      }
    }
  }
}


div.projects_list_wrapper {
  @extend %basicWrapStyle;
  div.projects_list_container {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
}

ul.project_list {
  width: 27*6rem; // list의 개수만큼 곱함
  height: 30rem;
  margin-top: 4.5rem;
  position: relative;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  @media screen and (max-width: 768px) {
    margin-left: calc(50vw - 12.5rem);
  }
  
  li {
    width: 25rem;
    height: 15.45rem;
    border-radius: 25px;
    box-shadow: 4px 4px 16px 4px rgba(0, 0, 0, 0.2);
    margin-right: 2rem;
    filter: brightness(0.5) grayscale(0.9);
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease-out;
    &:hover {
      box-shadow: 4px 4px 16px 7px rgba(0, 0, 0, 0.3);
    }
    &.selected {
      box-shadow: 0 0 0 5px #FF9900 inset; 
      filter: brightness(1) grayscale(0);
      opacity: 1;
    }
    &:nth-child(1) {
      background: url('/images/project_list_01.png') center center no-repeat;
      background-size: contain;
    }
    &:nth-child(2) {
      background: url('/images/project_list_02.png') center center no-repeat;
      background-size: contain;
    }
    &:nth-child(3) {
      background: url('/images/project_list_03.png') center center no-repeat;
      background-size: contain;
    }
    &:nth-child(4) {
      background: url('/images/project_list_04.png') center center no-repeat;
      background-size: contain;
    }
    &:nth-child(5) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      background: #dadada;
      background-size: contain;
    }
    &:nth-child(6) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-content: center;
      background: #dadada;
      background-size: contain;
    }
  }
}

div.list_navigation {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 56rem;
  z-index: 10;
  @media screen and (max-width: 1200px) {
    width: 100vw;
  }
  
  @media screen and (max-width: 768px) {
    top: 71.5rem;
  }
  
  .button-prev {
    height: 5rem;
    position: absolute;
    left: 250px;
    top: 0;
    z-index: 10;
    @media screen and (max-width: 1800px) {
      left: 30px;
    }
    @media screen and (max-width: 768px) {
      left: 10px;
    }
  }
  .button-next {
    height: 5rem;
    position: absolute;
    right: 250px;
    top: 0;
    z-index: 10;
    @media screen and (max-width: 1800px) {
      right: 30px;
    }
    @media screen and (max-width: 768px) {
      right: 10px;
    }
  }
  i {
    font-size: 5rem;
    color: #FF9900;
    cursor: pointer;
    transition: all 0.2s ease-out;
  }
}

div.pj_bg_text {
  font: 500 20rem "Orbitron";
  transform: rotate(-90deg);
  position: absolute;
  left: 0;
  top: 12rem;
  z-index: 1;
  #pbt_3 {
    color: #003CFF;
  }
  #pbt_2 {
    color: #FF9900;
  }
  #pbt_1 {
    color: whitesmoke;
  }
}

#gray_layer {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}


// detail content
#over_layer {
  width: 100%;
  height: 100%;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
}

#detail_content_wrapper {
  width: 100%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button#ol_close_btn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  @media screen and (max-width: 486px) {
    right: -10px;
    top: -40px;
    // background: #ffffff;
    // box-shadow: inset 0 0 15px rgba(33, 84, 203, 0.463);
  }
  z-index: 100;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  i {
    font-size: 20px;
    color: #003CFF;
    @media screen and (max-width: 486px) {
      color: rgb(255, 255, 255);
    }

  }

  border-radius: 50%;
  box-sizing: border-box;
}


.detail-slider__button {
  border-radius: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  padding: 15px 35px;
  // box-sizing: border-box;
  background: linear-gradient(147deg, #f90 0%, #003cff 66%);
  background-position: 0% 0%;
  background-size: 200% 100%;

  box-shadow: 0px 14px 50px rgba(0, 65, 255, 0.4);
  color: #fff;
  font: 500 1rem "Noto sans KR";
  letter-spacing: 1px;
  transition: all 0.2s ease-out;
  &:hover {
    background-position: 100% 100%;
    cursor: pointer;
  }
  @media screen and (max-width: 576px) {
    width: 100%;
    position: absolute;
    bottom: -5rem;
  }
}

#detail_content {
  width: auto;
  height: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.detail_axios_wrapper {
  width: auto;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1000;
}
.detail-slider {
  overflow-x:unset;
}

.detail-slider {
  width: 95%;
  position: relative;
  left: 0;
  top: 0;
  max-width: 1000px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 600px;
  transition: all .3s;
  
  @media screen and (max-width: 992px) {
    // max-width: 680px;
    width: 70%;
    height: 80%;
  }
  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    // margin: 180px auto;
    top: 2rem;
    text-align: center;
    width: 78%;
  }
  // @media screen and (max-height: 500px) and (min-width: 992px) {
  //   height: 350px;
  // }
  @media screen and (max-width: 576px) {
    top: 0.5rem;
    min-height: 450px;
    height: 450px;
  }
  &__item {
    display: flex;
    align-items: center;
    
    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
    &.swiper-slide-active {
      .detail-slider__img {
        img {
          opacity: 1;
          transition-delay: .3s;
        }
      }
      .detail-slider__content {
        > * {
        opacity: 1;
        transform: none;
        font-family: "Noto sans KR";
        @for $i from 0 to 15 {
          &:nth-child(#{$i + 1}) {
            transition-delay: $i * 0.1 + 0.3s;
          }
        }
      }
    }
  }
}

&__img {
  width: 70%;
  // width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(147deg, #f90 0%, #003cff 74%);
  box-shadow: 4px 13px 20px 1px rgba(56, 82, 252, 0.2);
  border-radius: 20px;
  transform: translateX(0px);
  overflow: hidden;
  @media screen and (max-width: 486px) {
    height: 250px;
  }
  
  &:after {
    content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(147deg, rgba(255, 153, 0, 0.1) 0%, rgba(0, 60, 255, 0.1)4%);
      border-radius: 20px;
      opacity: 0.8;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 20px;
      transition: all .3s;
    }

    @media screen and (max-width: 768px) {
      transform: translateY(-40%);
      width: 90%;
      margin-left: 5%;
    }
    @media screen and (max-width: 576px) {
      width: 95%;
      margin-left: 2.5%;
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
    @media screen and (max-width: 486px) {
      margin-top: 30px;
    }
  }

  &__content {
    padding-right: 25px;
    // borderbox
    margin-top: 40px;
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
    @media screen and (max-width: 576px) {
      padding: 0 0px;
    }
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all .4s;
      
      
    }
    
  }

  &__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }
  
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
    
  }
  &__pagination {
    position: absolute;
    left: auto !important;
    right: 20px;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    // bottom: auto !important;
    width: 11px !important;
    z-index: 21;
    @media screen and (max-width: 768px) {
      transform: translateX(-50%);
      left: 50%!important;
      top: 205px;
      width: 100%!important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 4px 0 !important;
      @media screen and (max-width: 768px) {
        margin: 0 3px !important;
      }
    }
    .swiper-pagination-bullet {
      width: 11px;
      height: 11px;
      display: block;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all .3s;
      &-active {
        opacity: 1;
        background: #003CFF;
        height: 30px;
        box-shadow: 0px 0px 20px rgba(56, 69, 252, 0.3);
        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
      }
    }
  }
}

