@use 'common';

div#skills_and_stacks_wrapper {
  @extend %basicWrapStyle;
  @extend %basicTitleWrapStyle;
  .title_wrap {
    text-align: right;
    padding-top: 7rem;
    #skill {
      color: black;
    }
  }
}

.ss_title_svg {
  width: 27rem;
  position: relative;
  right: -300px;
  // right: 0px;
  opacity: 0;
  transition: all 1.5s ease-in-out;
}

// .ss_title_svg.animate {
//   right: 0;
// }


// 카테고리 명
p.skill_category {
  color: black;
  font: bold 1.5rem "Noto sans KR";
  margin-bottom: 1rem;
}

// 프론트엔드 skill
div.front_end_skills_wrap {
  text-align: right;
  width: 100%;
  height: 50rem;
  position: relative;
  right: 0;
  top: 0;
  p.skill_category {
    padding: 5rem 3.5rem 0 0;
    position: relative;
  }
  svg {
    position: relative;
    right: 1.5rem;
    top: -2.4rem;
  }
  ul.front_end_skill_list {
    max-width: 55rem;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    gap: 3rem;
    position: absolute;
    right: 0;
    bottom: 0;
    li {
      width: 15rem;
      height: 15rem;
      position: relative;
      left: 0;
      top: 0;
      border-radius: 1.75rem;
      background: linear-gradient(138deg, #003CFF 20%, #013DFE 62%, #F90 96.37%);
      background-position: 0% 0%;
      background-size: 150% 150%;
      box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      transition: all 0.5s ease;
      &:hover {
        box-shadow: 5px 5px 12px 4px rgba(0, 0, 0, 0.35);
        background-position: 100% 100%;
      }
      &:touch-action {
        box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.25);
        background-position: 100% 100%;
      }     
      p {
        color: white;
        font: normal 2.1rem "Noto sans KR";
        text-align: left;
        cursor: default;
      }
      &:nth-child(4) {
        p {
          font-size: 1.8rem;
        }
      }
    }
  }
}

// 나머지 스킬
div.etc_skills_wrap {
  max-width: 55rem;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
  ul.etc_skill_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    gap: 10rem;
    li {
      transition: all 2s ease-out;
      p.skill_name {
        color: black;
        font: normal 1.1rem/2rem "Noto sans KR";
      }
    }
  }
}

// bg
div.ss_bg {
  width: 100%;
  height: auto;
  position: absolute;
  left: -22rem;
  top: 0;
  z-index: -1;
  @media screen and (max-width: 425px) {
    top: -20rem;
  }
  
  img.ss_bg_circle {
    width: 42rem;
    height: 58rem;
    position: absolute;
  }
  img.ss_bg_text {
    width: 52.8125rem;
    height: 23.0625rem;
    position: absolute;
    left: 7rem;
    top: 30rem;
    @media screen and (max-width: 1600px) {
      left: 10rem;
    }
    @media screen and (max-width: 1400px) {
      left: 14rem;
    }
    @media screen and (max-width: 425px) {
      left: 17rem;
    }
  }
  .ss_svg_wrapper {
    position: absolute;
    left: 1rem;
    top: 1rem;
    z-index: -1;
    svg {
      position: absolute;
      left: 0rem;
      top: 0;
      &.bg_ss_circle_up {
        width: 36rem;
        height: 38rem;
        left: -4rem;
        top: 13rem;
        stroke-dasharray: 2px;
        stroke-dasharray: 950px;
        stroke-dashoffset: 950px;
        &.selected {
          animation: circle_svg_ani 2s ease-out forwards; 
        }
      }
      &.bg_ss_circle_down {
        width: 36rem;
        height: 50rem;
        left: 0rem;
        top: 16rem;
        stroke-dasharray: 950px;
        stroke-dashoffset: 950px;
        &.selected {
          animation: circle_svg_down_ani 2s ease-out forwards; 
        }
      }
      @keyframes circle_svg_ani {
        0% {
            stroke-dashoffset: 950;
        }
        100% {
            stroke-dashoffset: 0;
        }
      }
      @keyframes circle_svg_down_ani {
        0% {
            stroke-dashoffset: -950;
        }
        100% {
            stroke-dashoffset: 0;
        }
      }
    }
  }
}


@media screen and (max-width: 1260px) {
  div#skills_and_stacks_wrapper {
    padding: 0 30px;
    box-sizing: border-box;
  }
  div.front_end_skills_wrap {
    ul.front_end_skill_list {
      width: calc(100vw - 60px);
      gap: 2rem;
    }
  }
}



@media screen and (max-width: 768px) {
  div#skills_and_stacks_wrapper {
    padding: 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    .title_wrap {
      width: auto;
      height: auto;
      text-align: right;
      padding-top: 1rem;
      p.subtitle {
        font: normal 3rem "Dela Gothic One";
      }
      svg {
        margin-left: 3rem;
        padding-top: 0.3rem;
      }
      #skill {
        color: black;
      }
    }
  }
  // 카테고리 명
  p.skill_category {
    color: black;
    font: bold 1.5rem "Noto sans KR";
    margin-bottom: 1rem;
  }

  // 프론트엔드 skill
  div.front_end_skills_wrap {
    text-align: right;
    width: 100%;
    height: 45rem;
    position: relative;
    right: 0;
    top: 0;
    p.skill_category {
      padding: 5rem 3.5rem 0 0;
      position: relative;
    }
    svg {
      position: relative;
      right: 1.5rem;
      top: -2.4rem;
    }
    ul.front_end_skill_list {
      width: calc(100% - 7px);
      height: 33rem;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
      gap: 3%;
      position: absolute;
      right: 0;
      top: 10rem;
      li {
        max-width: 15rem;
        width: 30vw;
        max-height: 15rem;
        height: 30vw;
        margin-bottom: 1rem;
        border-radius: 1.75rem;
        background: linear-gradient(138deg, #003CFF 20%, #013DFE 62%, #F90 96.37%);
        background-position: 0% 0%;
        background-size: 150% 150%;
        // background: #003CFF;
        box-shadow: 1px 1px px 3px rgba(0, 0, 0, 0.25);
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        transition: all 0.5s ease;
        &:hover {
          box-shadow: 3px 3px 6px 4px rgba(0, 0, 0, 0.35);
          background-position: 100% 100%;
        }
        &:touch-action {
          box-shadow: 4px 4px 12px 3px rgba(0, 0, 0, 0.25);
          background-position: 100% 100%;
        }
        p {
          color: white;
          font: normal 4vw "Noto sans KR";
          text-align: left;
          cursor: default;
        }
        &:nth-child(4) {
          p {
            font-size: 3.4vw;
          }
        }
      }
    }
  }

  // 나머지 스킬
  div.etc_skills_wrap {
    max-width: 55rem;
    height: auto;
    position: relative;
    left: 0;
    top: 0;
    padding: 0 30px;
    ul.etc_skill_list {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      align-content: center;
      gap: 1rem;
      li {
        width: 45%;
        margin-bottom: 70px;
        p.skill_name {
          color: black;
          font: normal 1.1rem/2rem "Noto sans KR";
        }
      }
    }
  }
}
