@use "sass:math";

a{
  color:black;
  text-decoration:none; 
}

.hidden {
  width: 1px;
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  position: absolute;
}

html {
  font-size: 16px;
}

body {
  position: fixed;
  width: 100%;
  height: auto;
  background: white;
}

div#wrapper {
  width: 100%;
  max-width: 1920px;
  overflow: hidden;
  height: auto;
  margin: 0 auto;
  position: relative;
  left: 0;
  top: 0;
}

section {
  width: 100%;
  height: auto;
  position: relative;
  left: 0;
  top: 0;
}

// 스크롤바 커스텀
html::-webkit-scrollbar {
  display: none;
  width: 12px;
  background-color: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}

html::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #003cff;
  border-radius: 10px;
  border: 1px solid whitesmoke;
  box-sizing: border-box;
}

html::-webkit-scrollbar-track {
  width: 15px;
  background-color: rgba(245, 245, 245, 0.5);
}


@media screen and (max-width: 1024px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
